<!-- EXAMPLE OF ROS LAUNCH FILE FOR THE EMPTY AUTONOMOS WORLD  -->
<!-- ONLY LAUNCHES GAZEBO WITH THE EMPTY AUTONOMOS WORLD -->
<launch>
  <!-- INCLUDE THE LAUNCH FILE OF EMPTY WORLD IN THE gazebo_ros PACKAGE -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="debug" value="false"/>

    <!-- INCLUDE THE EMPTY ROAD WORLD -->
    <arg name="world_name" value="autoNOMOS_empty_world.world"/>
    
    <!-- more default parameters can be changed here -->
  </include>
  
</launch>
