<!-- EXAMPLE OF ROS LAUNCH FILE FOR THE CURVED AUTONOMOS WORLD  -->
<!-- ONLY LAUNCHES GAZEBO WITH THE CURVED AUTONOMOS WORLD -->
<launch>
  <!-- INCLUDE THE LAUNCH FILE OF CURVED WORLD IN THE gazebo_ros PACKAGE -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="debug" value="false"/>

        <!-- INCLUDE THE CURVED ROAD WORLD -->
        <arg name="world_name" value="straight_road.world"/>
    
        <!-- more default parameters can be changed here -->
    </include>
 
</launch>
